#left-container {
  display: flex;
  flex-direction: column;
  border-right: 3px #a9a9a9 dashed;
  width: 250px;
  padding: 15px 20px 15px 0;


  img {
    margin: 43px 0 15px;
    width: 100%;
    object-fit: cover;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 0.37px;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 200;
    margin-bottom: 35px;
    letter-spacing: 4.1px;
  }

  #linked,
  #git,
  #mail {
    display: flex;
    font-size: 2rem;
    margin-bottom: 15px;

    i {
      margin-right: 7px;
    }
  }

  
}

@media (max-width: 900px) {
  #left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 0 auto;
    width: 98%;

    img {
      display: none;
    }

    #headers {
      h1 {
        font-size: 3.27rem;
      }

      h2 {
        font-size: 2.5rem;
        margin: 0;
      }
    }

    #contact {
      span {
        display: none;
      }

      #git {
        margin: 0;
      }

      i {
        margin: auto;
      }
    }
  }
}



#left-container {
  display: flex;
  flex-direction: column;
  border-right: 3px #a9a9a9 dashed;
  width: 250px;
  padding: 15px 20px 15px 0;
}

#left-container img {
  margin: 43px 0 15px;
  width: 100%;
  object-fit: cover;
}

#left-container h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.37px;
}

#left-container h2 {
  font-size: 2.2rem;
  font-weight: 200;
  margin-bottom: 35px;
  letter-spacing: 4.1px;
}

#left-container #linked, #git, #mail {
  display: flex;
  font-size: 2rem;
  margin-bottom: 15px;
}

#left-container #linked, #git, #mail i {
  margin-right: 7px;
}

@media (max-width: 900px) {
  #left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 0 auto;
    width: 98%;
  }

  #left-container img {
    display: none;
  }

  #left-container #headers h1 {
    font-size: 3.27rem;
  }

  #left-container #headers h2 {
    font-size: 2.5rem;
    margin: 0;
  }

  #left-container #contact span {
    display: none;
  }

  #left-container #contact #git {

  }

  #left-container #contact i {

  }
}