#container {
    display: flex;
    margin: 5% auto;
    width: 900px;
    font-size: 1.6rem;

    a {
      text-decoration: none;
      color: currentColor;
    }
}

@media (max-width: 900px) {
  #container {
    display:flex;
    flex-direction: column;
    margin: 2% auto;
    width: 95%;
  }
}

