#skills {
  #skill-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    color: #a9a9a9;
    font-family: "ars-maquette-web",sans-serif;

    .skill {
      padding: 3%;

      a {
        .fa-react {
          color: #61dbfb;
        }

        .fa-python {
          color: #ffe873;
        }

        .fa-js {
          color: #f0db4f;
        }

        .fa-sass {
          color: #cd6799;
        }

        .fa-less {
          color: #1d3f6c;
        }

        .fa-css3-alt {
          color: #254bdd;
        }

        .fa-html5 {
          color: #dd4b25;
        }

        .fa-yarn {
          color: #2c8ebb;
        }

        .fa-bootstrap {
          color: #563d7c;
        }

        .fa-git-alt {
          color: #f54d27;
        }

        .fa-linux {
          color: #1f1f1f;
        }

        .fa-node-js {
          color: #689f63;
        }

        .fa-npm {
          color: #cc0000;
        }

        p {
          font-size: 1.3rem;
        }

        img {
          height: 35px;
        }
      }
    }
  }
}
