
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^ramonaudain\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.ramonaudain\.com$
RewriteRule ^/?$ "https\:\/\/www\.ramonaudain\.com\/" [R=301,L]

