#projects {
  margin-top: 20px;

  .project {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    padding: 7px 12px;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: #ffffff;

    .project-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;

      h2 {
        font-size: 2rem;
      }

      nav a {
        margin-left: 15px;
        letter-spacing: 1px;
        color: #0645ad;
      }

      nav a:hover {
        text-decoration: underline;
      }

      .fa-plus, .fa-minus {
        font-size: 1.6rem;
        color: #0645ad;
        margin-left: 15px;
      }
    }

    p {
      text-align: left;
      font-weight: 200;
      letter-spacing: 1px;
    }
  }

  .content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.02 ease-out;

    p {
      font-size: 1.8rem;
      font-family: "ars-maquette-web", sans-serif;
      font-weight: normal;
      letter-spacing: 1px;
      line-height: 1.2;
      margin-top: 35px;
    }

    img {
      margin-top: 20px;
      width: 100%;
    }
  }
}
