html {
  font-weight: Georgia, serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

section {
  padding-bottom: 70px;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  text-align: center;
}

.sectionTitle {
  text-align: center;
  font-family: "Avenir Next", "Segoe ui", Ubuntu, sans-serif;
  font-size: 3.75rem;
  font-weight: bold;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 30px;
}
