#header {
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
  background-image: url("../img/bg.jpg");
}

.nav {
  font-size: 2rem;
  line-height: 1.6;
  z-index: 2;
  position: absolute;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.nav a {
  padding: 10px 40px;
  margin: 0 10px;
}

.nav a:hover {
  color: #031458;
  transition: 0.25s ease-out;
}

/* .nav a:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #031458;
  visibility: hidden;
  display: block;
  transition: all 0.3s ease-in;

}

.nav a:hover:before {
  visibility: visible;
  height: 3px;
} */

#header .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: -50px;
  letter-spacing: 2.25px;
  line-height: 1.4;
}

#name {
  font-size: 5.25rem;
  color: #031458;
}

#title {
  font-size: 3.25rem;
  margin-bottom: 30px;
}

#title, .nav a {
  color: #cbdfd6;
}

#header #zigzag {
  color: #031458;
}
